In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

The Single-Family Loan-Level Dataset is split in calendar quarters, beginning with the first quarter of 1999 and 
ending with the quarter of the Origination Cutoff Date. For each calendar quarter, there is


- One Origination Data file containing loan-level origination information for all the loans originated during 
the quarter. 


- One Performance Data file for all of the respective loans originated during the quarter.
    - All performance periods associated to a loan will be contained within the same Performance 
Data file.
    - Example: a loan originated in January 1999 which has not been assigned a Zero Balance Code 
as of January 2019 will have its 201901 period found in the 1999Q1 Performance Data file

In [2]:
# Load the Excel file
file_path = 'data/file_layout.xlsx'

# List sheet names to understand its structure
sheet_names = pd.ExcelFile(file_path).sheet_names
print(sheet_names)


header1 = pd.read_excel(file_path, sheet_name=sheet_names[0],header= 1)
header1

['Origination Data File', 'Monthly Performance Data File']

,FIELD POSITION,ATTRIBUTE NAME,DATA TYPE & FORMAT,MAX LENGTH
0,1,Credit Score,Numeric,4
1,2,First Payment Date,Date,6
2,3,First Time Homebuyer Flag,Alpha,1
3,4,Maturity Date,Date,6
4,5,Metropolitan Statistical Area (MSA) Or Metropo...,Numeric,5
5,6,Mortgage Insurance Percentage (MI %),Numeric,3
6,7,Number of Units,Numeric,2
7,8,Occupancy Status,Alpha,1
8,9,Original Combined Loan-to-Value (CLTV),Numeric,3
9,10,Original Debt-to-Income (DTI) Ratio,Numeric,3
10,11,Original UPB,Numeric,12
11,12,Original Loan-to-Value (LTV),Numeric,3
12,13,Original Interest Rate,"Numeric - 6,3",6
13,14,Channel,Alpha,1
14,15,Prepayment Penalty Mortgage (PPM) Flag,Alpha,1
15,16,Amortization Type (Formerly Product Type),Alpha,5
16,17,Property State,Alpha,2
17,18,Property Type,Alpha,2
18,19,Postal Code,Numeric,5
19,20,Loan Sequence Number,Alpha Numeric - PYYQnXXXXXXX,12
20,21,Loan Purpose,Alpha,1
21,22,Original Loan Term,Numeric,3
22,23,Number of Borrowers,Numeric,2
23,24,Seller Name,Alpha Numeric,60
24,25,Servicer Name,Alpha Numeric,60
25,26,Super Conforming Flag,Alpha,1
26,27,Pre-HARP Loan Sequence Number,Alpha Numeric - PYYQnXXXXXXX,12
27,28,Program Indicator,Alpha Numeric,1
28,29,HARP Indicator,Alpha,1
29,30,Property Valuation Method,Numeric,1
30,31,Interest Only (I/O) Indicator,Alpha,1
31,32,Mortgage Insurance Cancellation Indicator,Alpha,1

The data contains new-issued loan at each quarter and the loan infomation when issued

In [3]:
path_origination_data = 'data/historical_data_2022/historical_data_2022Q1/historical_data_2022Q1.txt'
data = pd.read_csv(path_origination_data, sep='|')
data.columns = header1['ATTRIBUTE NAME'].values
data.head()

,Credit Score,First Payment Date,First Time Homebuyer Flag,Maturity Date,Metropolitan Statistical Area (MSA) Or Metropolitan Division,Mortgage Insurance Percentage (MI %),Number of Units,Occupancy Status,Original Combined Loan-to-Value (CLTV),Original Debt-to-Income (DTI) Ratio,...,Number of Borrowers,Seller Name,Servicer Name,Super Conforming Flag,Pre-HARP Loan Sequence Number,Program Indicator,HARP Indicator,Property Valuation Method,Interest Only (I/O) Indicator,Mortgage Insurance Cancellation Indicator
0,691,202203,N,203702,47664.0,0,1,P,67,25,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
1,678,202203,N,203702,NaN,0,2,P,28,44,...,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,2,N,7
2,802,202203,N,205202,33460.0,0,1,P,75,27,...,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
3,767,202203,N,205202,NaN,0,1,P,55,44,...,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
4,711,202203,N,205202,NaN,0,1,P,78,30,...,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,2,N,7

In [4]:
data['Credit Score'] = data['Credit Score'].replace('9999', np.nan)
data['Credit Score'] = data['Credit Score'].astype(float)

data['First Time Homebuyer Flag'] = data['First Time Homebuyer Flag'].replace('9', np.nan)
data['First Time Homebuyer Flag'] = data['First Time Homebuyer Flag'].replace('Y', 1)
data['First Time Homebuyer Flag'] = data['First Time Homebuyer Flag'].replace('N', 0)
data['Mortgage Insurance Percentage (MI %)'] = data['Mortgage Insurance Percentage (MI %)'].replace('999', np.nan)
data['Number of Units'] = data['Number of Units'].replace('99', np.nan)
data['Occupancy Status'] = data['Occupancy Status'].replace('9', np.nan)

data['Original Combined Loan-to-Value (CLTV)'] = data['Original Combined Loan-to-Value (CLTV)'].replace('999', np.nan)
data['Original Debt-to-Income (DTI) Ratio'] = data['Original Debt-to-Income (DTI) Ratio'].replace('999', np.nan)
data['Original UPB'] = data['Original UPB'].replace('999999999', np.nan)
data['Original Loan-to-Value (LTV)'] = data['Original Loan-to-Value (LTV)'].replace('999', np.nan)
data['Original Interest Rate'] = data['Original Interest Rate'].replace('999', np.nan)
data['Channel'] = data['Channel'].replace('9', np.nan)
data['Prepayment Penalty Mortgage (PPM) Flag'] = data['Prepayment Penalty Mortgage (PPM) Flag'].replace('Y', 1)
data['Prepayment Penalty Mortgage (PPM) Flag'] = data['Prepayment Penalty Mortgage (PPM) Flag'].replace('N', 0)
data['Property State'] = data['Property State'].replace('99', np.nan)
data['Property Type'] = data['Property Type'].replace('99', np.nan)
data['Loan Sequence Number'] = data['Loan Sequence Number'].replace('9', np.nan)
data['Loan Purpose'] = data['Loan Purpose'].replace('9', np.nan)
data['Original Loan Term'] = data['Original Loan Term'].replace('999', np.nan)
data['Number of Borrowers'] = data['Number of Borrowers'].replace('99', np.nan)
data['Seller Name'] = data['Seller Name'].replace('9', np.nan)
data['Servicer Name'] = data['Servicer Name'].replace('9', np.nan)
data['Super Conforming Flag'] = data['Super Conforming Flag'].replace('Y', 1)
data['Super Conforming Flag'] = data['Super Conforming Flag'].replace('N', 0)
data['Pre-HARP Loan Sequence Number'] = data['Pre-HARP Loan Sequence Number'].replace('9', np.nan)
data['Program Indicator'] = data['Program Indicator'].replace('9', np.nan)
data['HARP Indicator'] = data['HARP Indicator'].replace('9', np.nan)
data['Interest Only (I/O) Indicator'] = data['Interest Only (I/O) Indicator'].replace('Y', 1)
data['Interest Only (I/O) Indicator'] = data['Interest Only (I/O) Indicator'].replace('N', 0)


data['Credit Score'] = data['Credit Score'].astype(float)
data['First Time Homebuyer Flag'] = data['First Time Homebuyer Flag'].astype(float)
data['Mortgage Insurance Percentage (MI %)'] = data['Mortgage Insurance Percentage (MI %)'].astype(float)
data['Number of Units'] = data['Number of Units'].astype(float)
data['Original Combined Loan-to-Value (CLTV)'] = data['Original Combined Loan-to-Value (CLTV)'].astype(float)
data['Original Debt-to-Income (DTI) Ratio'] = data['Original Debt-to-Income (DTI) Ratio'].astype(float)
data['Original UPB'] = data['Original UPB'].astype(float)
data['Original Loan-to-Value (LTV)'] = data['Original Loan-to-Value (LTV)'].astype(float)
data['Original Interest Rate'] = data['Original Interest Rate'].astype(float)
data['Original Loan Term'] = data['Original Loan Term'].astype(float)
data['Number of Borrowers'] = data['Number of Borrowers'].astype(float)

# data['First Time Homebuyer Flag'] = data['First Time Homebuyer Flag'].astype(int)
# data['Prepayment Penalty Mortgage (PPM) Flag'] = data['Prepayment Penalty Mortgage (PPM) Flag'].astype(int)
# data['Super Conforming Flag'] = data['Super Conforming Flag'].astype(int)
# data['Interest Only (I/O) Indicator'] = data['Interest Only (I/O) Indicator'].astype(int)

## could not convert nan to int

In [5]:
data.loc[1]

Credit Score                                                             678.0
First Payment Date                                                      202203
First Time Homebuyer Flag                                                  0.0
Maturity Date                                                           203702
Metropolitan Statistical Area (MSA) Or Metropolitan Division               NaN
Mortgage Insurance Percentage (MI %)                                       0.0
Number of Units                                                            2.0
Occupancy Status                                                             P
Original Combined Loan-to-Value (CLTV)                                    28.0
Original Debt-to-Income (DTI) Ratio                                       44.0
Original UPB                                                          208000.0
Original Loan-to-Value (LTV)                                              28.0
Original Interest Rate                                                   2.375
Channel                                                                      R
Prepayment Penalty Mortgage (PPM) Flag                                       0
Amortization Type (Formerly Product Type)                                  FRM
Property State                                                              CO
Property Type                                                               SF
Postal Code                                                              81200
Loan Sequence Number                                              F22Q10000003
Loan Purpose                                                                 C
Original Loan Term                                                       180.0
Number of Borrowers                                                        2.0
Seller Name                                                      Other sellers
Servicer Name                                                   U.S. BANK N.A.
Super Conforming Flag                                                      NaN
Pre-HARP Loan Sequence Number                                              NaN
Program Indicator                                                          NaN
HARP Indicator                                                             NaN
Property Valuation Method                                                    2
Interest Only (I/O) Indicator                                                0
Mortgage Insurance Cancellation Indicator                                    7
Name: 1, dtype: object

In [6]:
header2 = pd.read_excel(file_path, sheet_name=sheet_names[1],header= 1)
header2

,FIELD POSITION,ATTRIBUTE NAME,DATA TYPE & FORMAT,MAX LENGTH
0,1,Loan Sequence Number,Alpha Numeric - PYYQnXXXXXXX,12
1,2,Monthly Reporting Period,Date,6
2,3,Current Actual UPB,"Numeric - 12,2",12
3,4,Current Loan Delinquency Status,Alpha Numeric,3
4,5,Loan Age,Numeric,3
5,6,Remaining Months to Legal Maturity,Numeric,3
6,7,Defect Settlement Date,Date,6
7,8,Modification Flag,Alpha,1
8,9,Zero Balance Code,Numeric,2
9,10,Zero Balance Effective Date,Date,6
10,11,Current Interest Rate,"Numeric - 8,3",8
11,12,Current Deferred UPB,Numeric,12
12,13,Due Date of Last Paid Installment (DDLPI),Date,6
13,14,MI Recoveries,"Numeric - 12,2",12
14,15,Net Sales Proceeds,Alpha-Numeric,14
15,16,Non MI Recoveries,"Numeric - 12,2",12
16,17,Expenses,"Numeric - 12,2",12
17,18,Legal Costs,"Numeric - 12,2",12
18,19,Maintenance and Preservation Costs,"Numeric - 12,2",12
19,20,Taxes and Insurance,"Numeric - 12,2",12
20,21,Miscellaneous Expenses,"Numeric - 12,2",12
21,22,Actual Loss Calculation,"Numeric - 12,2",12
22,23,Modification Cost,"Numeric - 12,2",12
23,24,Step Modification Flag,Alpha,1
24,25,Deferred Payment Plan,Alpha,1
25,26,Estimated Loan-to-Value (ELTV),Numeric,4
26,27,Zero Balance Removal UPB,"Numeric - 12,2",12
27,28,Delinquent Accrued Interest,"Numeric - 12,2",12
28,29,Delinquency Due to Disaster,Alpha,1
29,30,Borrower Assistance Status Code,Alpha,1
30,31,Current Month Modification Cost,"Numeric - 12,2",12
31,32,Interest Bearing UPB,"Numeric - 12,2",12

The dataset contains exisiting loan in every month.

In [7]:
path_monthly_performance = 'data/historical_data_2022/historical_data_2022Q1/historical_data_time_2022Q1.txt'
data2 = pd.read_csv(path_monthly_performance, sep='|')
data2.columns = header2['ATTRIBUTE NAME'].values
data2.head(40)

/var/folders/qs/lmb5vhks0815qhnhjrzhc7880000gn/T/ipykernel_47168/1202255979.py:2: DtypeWarning: Columns (3,7,23,24,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv(path_monthly_performance, sep='|')

,Loan Sequence Number,Monthly Reporting Period,Current Actual UPB,Current Loan Delinquency Status,Loan Age,Remaining Months to Legal Maturity,Defect Settlement Date,Modification Flag,Zero Balance Code,Zero Balance Effective Date,...,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued Interest,Delinquency Due to Disaster,Borrower Assistance Status Code,Current Month Modification Cost,Interest Bearing UPB
0,F22Q10000001,202203,624000.00,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,624000.00
1,F22Q10000001,202204,623000.00,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,54,NaN,NaN,NaN,NaN,NaN,623000.00
2,F22Q10000001,202205,622000.00,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52,NaN,NaN,NaN,NaN,NaN,622000.00
3,F22Q10000001,202206,621000.00,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,621000.00
4,F22Q10000001,202207,620000.00,0,5,355,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51,NaN,NaN,NaN,NaN,NaN,620000.00
5,F22Q10000001,202208,619000.00,0,6,354,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52,NaN,NaN,NaN,NaN,NaN,619000.00
6,F22Q10000001,202209,617648.57,0,7,353,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,55,NaN,NaN,NaN,NaN,NaN,617648.57
7,F22Q10000001,202210,616586.52,0,8,352,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,57,NaN,NaN,NaN,NaN,NaN,616586.52
8,F22Q10000001,202211,615521.48,0,9,351,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,58,NaN,NaN,NaN,NaN,NaN,615521.48
9,F22Q10000001,202212,614453.44,0,10,350,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,614453.44
10,F22Q10000001,202301,613382.40,0,11,349,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52,NaN,NaN,NaN,NaN,NaN,613382.40
11,F22Q10000001,202302,613382.40,1,12,348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,54,NaN,NaN,NaN,F,NaN,613382.40
12,F22Q10000001,202303,613382.40,2,13,347,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51,NaN,NaN,NaN,F,NaN,613382.40
13,F22Q10000001,202304,613382.40,3,14,346,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48,NaN,NaN,NaN,F,NaN,613382.40
14,F22Q10000001,202305,613382.40,4,15,345,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47,NaN,NaN,NaN,F,NaN,613382.40
15,F22Q10000001,202306,613382.40,5,16,344,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45,NaN,NaN,NaN,F,NaN,613382.40
16,F22Q10000001,202307,613382.40,6,17,343,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,46,NaN,NaN,NaN,F,NaN,613382.40
17,F22Q10000001,202308,613382.40,7,18,342,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,46,NaN,NaN,NaN,F,NaN,613382.40
18,F22Q10000001,202309,613382.40,8,19,341,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,46,NaN,NaN,NaN,F,NaN,613382.40
19,F22Q10000002,202202,548000.00,0,0,180,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,46,NaN,NaN,NaN,NaN,NaN,548000.00
20,F22Q10000002,202203,546000.00,0,1,179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,44,NaN,NaN,NaN,NaN,NaN,546000.00
21,F22Q10000002,202204,543000.00,0,2,178,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41,NaN,NaN,NaN,NaN,NaN,543000.00
22,F22Q10000002,202205,541000.00,0,3,177,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39,NaN,NaN,NaN,NaN,NaN,541000.00
23,F22Q10000002,202206,538000.00,0,4,176,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38,NaN,NaN,NaN,NaN,NaN,538000.00
24,F22Q10000002,202207,536000.00,0,5,175,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39,NaN,NaN,NaN,NaN,NaN,536000.00
25,F22Q10000002,202208,533000.00,0,6,174,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40,NaN,NaN,NaN,NaN,NaN,533000.00
26,F22Q10000002,202209,530882.03,0,7,173,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43,NaN,NaN,NaN,NaN,NaN,530882.03
27,F22Q10000002,202210,528378.09,0,8,172,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,NaN,528378.09
28,F22Q10000002,202211,525868.42,0,9,171,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,NaN,525868.42
29,F22Q10000002,202212,523353.00,0,10,170,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,NaN,523353.00
30,F22Q10000002,202301,520831.81,0,11,169,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41,NaN,NaN,NaN,NaN,NaN,520831.81
31,F22Q10000002,202302,518304.84,0,12,168,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41,NaN,NaN,NaN,NaN,NaN,518304.84
32,F22Q10000002,202303,515772.08,0,13,167,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40,NaN,NaN,NaN,NaN,NaN,515772.08
33,F22Q10000002,202304,513233.52,0,14,166,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,37,NaN,NaN,NaN,NaN,NaN,513233.52
34,F22Q10000002,202305,510689.14,0,15,165,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,NaN,510689.14
35,F22Q10000002,202306,503138.93,0,16,164,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,NaN,503138.93
36,F22Q10000002,202307,503138.93,1,17,163,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,NaN,503138.93
37,F22Q10000002,202308,503020.97,0,18,162,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,NaN,503020.97
38,F22Q10000002,202309,500453.19,0,19,161,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,500453.19
39,F22Q10000003,202202,208000.00,0,0,180,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN,208000.00

In [8]:
data2.loc[1]

Loan Sequence Number                         F22Q10000001
Monthly Reporting Period                           202204
Current Actual UPB                               623000.0
Current Loan Delinquency Status                         0
Loan Age                                                2
Remaining Months to Legal Maturity                    358
Defect Settlement Date                                NaN
Modification Flag                                     NaN
Zero Balance Code                                     NaN
Zero Balance Effective Date                           NaN
Current Interest Rate                               3.375
Current Deferred UPB                                  0.0
Due Date of Last Paid Installment (DDLPI)             NaN
MI Recoveries                                         NaN
Net Sales Proceeds                                    NaN
Non MI Recoveries                                     NaN
Expenses                                              NaN
Legal Costs                                           NaN
Maintenance and Preservation Costs                    NaN
Taxes and Insurance                                   NaN
Miscellaneous Expenses                                NaN
Actual Loss Calculation                               NaN
Modification Cost                                     NaN
Step Modification Flag                                NaN
Deferred Payment Plan                                 NaN
Estimated Loan-to-Value (ELTV)                         54
Zero Balance Removal UPB                              NaN
Delinquent Accrued Interest                           NaN
Delinquency Due to Disaster                           NaN
Borrower Assistance Status Code                       NaN
Current Month Modification Cost                       NaN
Interest Bearing UPB                             623000.0
Name: 1, dtype: object

## Merging the dataset

Here we only focus on the 30 year fixed coupon loans only.

In [9]:
print(data['Original Loan Term'].value_counts())
print(data['Amortization Type (Formerly Product Type)'] .value_counts())
# filter out 30 year fixed rate mortgages
data_30yfix = data[(data['Amortization Type (Formerly Product Type)'] == 'FRM') & (data['Original Loan Term'] == 360)]

Original Loan Term
360.0    453983
180.0     78847
240.0     30556
120.0      5721
348.0      5544
          ...
178.0         1
109.0         1
135.0         1
131.0         1
357.0         1
Name: count, Length: 216, dtype: int64
Amortization Type (Formerly Product Type)
FRM    583792
Name: count, dtype: int64

In [10]:
# merge the two datasets
data_merged = pd.merge(data_30yfix, data2, on='Loan Sequence Number', how='inner')

# filter out the columns that are not needed
# data_merged = data_merged[['Loan Sequence Number', 'Monthly Reporting Period', 'Current Actual UPB', 'Current Loan Delinquency Status',
#                            'Loan Age', 'Remaining Months to Legal Maturity', 'Repurchase Flag', 'Modification Flag', 'Zero Balance Code',
#                            'Zero Balance Effective Date', 'Current Interest Rate']]


# convert the 'Current Interest Rate' to float
data_merged['Current Interest Rate'] = data_merged['Current Interest Rate'].astype(float)

# convert the 'Monthly Reporting Period' to datetime
data_merged['Monthly Reporting Period'] = pd.to_datetime(data_merged['Monthly Reporting Period'], format='%Y%m')

# sort the data by 'Loan Sequence Number' and 'Monthly Reporting Period'
data_merged = data_merged.sort_values(by=['Loan Sequence Number', 'Monthly Reporting Period'])

# reset the index
data_merged = data_merged.reset_index(drop=True)

data_merged.head()

,Credit Score,First Payment Date,First Time Homebuyer Flag,Maturity Date,Metropolitan Statistical Area (MSA) Or Metropolitan Division,Mortgage Insurance Percentage (MI %),Number of Units,Occupancy Status,Original Combined Loan-to-Value (CLTV),Original Debt-to-Income (DTI) Ratio,...,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued Interest,Delinquency Due to Disaster,Borrower Assistance Status Code,Current Month Modification Cost,Interest Bearing UPB
0,802.0,202203,0.0,205202,33460.0,0.0,1.0,P,75.0,27.0,...,NaN,NaN,NaN,81,NaN,NaN,NaN,NaN,NaN,216000.0
1,802.0,202203,0.0,205202,33460.0,0.0,1.0,P,75.0,27.0,...,NaN,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,216000.0
2,802.0,202203,0.0,205202,33460.0,0.0,1.0,P,75.0,27.0,...,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,216000.0
3,802.0,202203,0.0,205202,33460.0,0.0,1.0,P,75.0,27.0,...,NaN,NaN,NaN,67,NaN,NaN,NaN,NaN,NaN,215000.0
4,802.0,202203,0.0,205202,33460.0,0.0,1.0,P,75.0,27.0,...,NaN,NaN,NaN,64,NaN,NaN,NaN,NaN,NaN,215000.0

In [11]:
data_merged.set_index(['Loan Sequence Number', 'Monthly Reporting Period']).head(20)

                                               Credit Score  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                       802.0
                     2022-03-01                       802.0
                     2022-04-01                       802.0
                     2022-05-01                       802.0
                     2022-06-01                       802.0
                     2022-07-01                       802.0
                     2022-08-01                       802.0
                     2022-09-01                       802.0
                     2022-10-01                       802.0
                     2022-11-01                       802.0
                     2022-12-01                       802.0
                     2023-01-01                       802.0
                     2023-02-01                       802.0
                     2023-03-01                       802.0
                     2023-04-01                       802.0
                     2023-05-01                       802.0
                     2023-06-01                       802.0
                     2023-07-01                       802.0
                     2023-08-01                       802.0
                     2023-09-01                       802.0

                                               First Payment Date  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                            202203
                     2022-03-01                            202203
                     2022-04-01                            202203
                     2022-05-01                            202203
                     2022-06-01                            202203
                     2022-07-01                            202203
                     2022-08-01                            202203
                     2022-09-01                            202203
                     2022-10-01                            202203
                     2022-11-01                            202203
                     2022-12-01                            202203
                     2023-01-01                            202203
                     2023-02-01                            202203
                     2023-03-01                            202203
                     2023-04-01                            202203
                     2023-05-01                            202203
                     2023-06-01                            202203
                     2023-07-01                            202203
                     2023-08-01                            202203
                     2023-09-01                            202203

                                               First Time Homebuyer Flag  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                                      0.0
                     2022-03-01                                      0.0
                     2022-04-01                                      0.0
                     2022-05-01                                      0.0
                     2022-06-01                                      0.0
                     2022-07-01                                      0.0
                     2022-08-01                                      0.0
                     2022-09-01                                      0.0
                     2022-10-01                                      0.0
                     2022-11-01                                      0.0
                     2022-12-01                                      0.0
                     2023-01-01                                      0.0
                     2023-02-01                                      0.0
                     2023-03-01                                      0.0
                     2023-04-01                                      0.0
                     2023-05-01                                      0.0
                     2023-06-01                                      0.0
                     2023-07-01                                      0.0
                     2023-08-01                                      0.0
                     2023-09-01                                      0.0

                                               Maturity Date  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                       205202
                     2022-03-01                       205202
                     2022-04-01                       205202
                     2022-05-01                       205202
                     2022-06-01                       205202
                     2022-07-01                       205202
                     2022-08-01                       205202
                     2022-09-01                       205202
                     2022-10-01                       205202
                     2022-11-01                       205202
                     2022-12-01                       205202
                     2023-01-01                       205202
                     2023-02-01                       205202
                     2023-03-01                       205202
                     2023-04-01                       205202
                     2023-05-01                       205202
                     2023-06-01                       205202
                     2023-07-01                       205202
                     2023-08-01                       205202
                     2023-09-01                       205202

                                               Metropolitan Statistical Area (MSA) Or Metropolitan Division  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                                                          33460.0
                     2022-03-01                                                          33460.0
                     2022-04-01                                                          33460.0
                     2022-05-01                                                          33460.0
                     2022-06-01                                                          33460.0
                     2022-07-01                                                          33460.0
                     2022-08-01                                                          33460.0
                     2022-09-01                                                          33460.0
                     2022-10-01                                                          33460.0
                     2022-11-01                                                          33460.0
                     2022-12-01                                                          33460.0
                     2023-01-01                                                          33460.0
                     2023-02-01                                                          33460.0
                     2023-03-01                                                          33460.0
                     2023-04-01                                                          33460.0
                     2023-05-01                                                          33460.0
                     2023-06-01                                                          33460.0
                     2023-07-01                                                          33460.0
                     2023-08-01                                                          33460.0
                     2023-09-01                                                          33460.0

                                               Mortgage Insurance Percentage (MI %)  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                                                 0.0
                     2022-03-01                                                 0.0
                     2022-04-01                                                 0.0
                     2022-05-01                                                 0.0
                     2022-06-01                                                 0.0
                     2022-07-01                                                 0.0
                     2022-08-01                                                 0.0
                     2022-09-01                                                 0.0
                     2022-10-01                                                 0.0
                     2022-11-01                                                 0.0
                     2022-12-01                                                 0.0
                     2023-01-01                                                 0.0
                     2023-02-01                                                 0.0
                     2023-03-01                                                 0.0
                     2023-04-01                                                 0.0
                     2023-05-01                                                 0.0
                     2023-06-01                                                 0.0
                     2023-07-01                                                 0.0
                     2023-08-01                                                 0.0
                     2023-09-01                                                 0.0

                                               Number of Units  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                            1.0
                     2022-03-01                            1.0
                     2022-04-01                            1.0
                     2022-05-01                            1.0
                     2022-06-01                            1.0
                     2022-07-01                            1.0
                     2022-08-01                            1.0
                     2022-09-01                            1.0
                     2022-10-01                            1.0
                     2022-11-01                            1.0
                     2022-12-01                            1.0
                     2023-01-01                            1.0
                     2023-02-01                            1.0
                     2023-03-01                            1.0
                     2023-04-01                            1.0
                     2023-05-01                            1.0
                     2023-06-01                            1.0
                     2023-07-01                            1.0
                     2023-08-01                            1.0
                     2023-09-01                            1.0

                                              Occupancy Status  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                              P
                     2022-03-01                              P
                     2022-04-01                              P
                     2022-05-01                              P
                     2022-06-01                              P
                     2022-07-01                              P
                     2022-08-01                              P
                     2022-09-01                              P
                     2022-10-01                              P
                     2022-11-01                              P
                     2022-12-01                              P
                     2023-01-01                              P
                     2023-02-01                              P
                     2023-03-01                              P
                     2023-04-01                              P
                     2023-05-01                              P
                     2023-06-01                              P
                     2023-07-01                              P
                     2023-08-01                              P
                     2023-09-01                              P

                                               Original Combined Loan-to-Value (CLTV)  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                                                  75.0
                     2022-03-01                                                  75.0
                     2022-04-01                                                  75.0
                     2022-05-01                                                  75.0
                     2022-06-01                                                  75.0
                     2022-07-01                                                  75.0
                     2022-08-01                                                  75.0
                     2022-09-01                                                  75.0
                     2022-10-01                                                  75.0
                     2022-11-01                                                  75.0
                     2022-12-01                                                  75.0
                     2023-01-01                                                  75.0
                     2023-02-01                                                  75.0
                     2023-03-01                                                  75.0
                     2023-04-01                                                  75.0
                     2023-05-01                                                  75.0
                     2023-06-01                                                  75.0
                     2023-07-01                                                  75.0
                     2023-08-01                                                  75.0
                     2023-09-01                                                  75.0

                                               Original Debt-to-Income (DTI) Ratio  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                                               27.0
                     2022-03-01                                               27.0
                     2022-04-01                                               27.0
                     2022-05-01                                               27.0
                     2022-06-01                                               27.0
                     2022-07-01                                               27.0
                     2022-08-01                                               27.0
                     2022-09-01                                               27.0
                     2022-10-01                                               27.0
                     2022-11-01                                               27.0
                     2022-12-01                                               27.0
                     2023-01-01                                               27.0
                     2023-02-01                                               27.0
                     2023-03-01                                               27.0
                     2023-04-01                                               27.0
                     2023-05-01                                               27.0
                     2023-06-01                                               27.0
                     2023-07-01                                               27.0
                     2023-08-01                                               27.0
                     2023-09-01                                               27.0

                                               ...  Modification Cost  \
Loan Sequence Number Monthly Reporting Period  ...
F22Q10000004         2022-02-01                ...                NaN
                     2022-03-01                ...                NaN
                     2022-04-01                ...                NaN
                     2022-05-01                ...                NaN
                     2022-06-01                ...                NaN
                     2022-07-01                ...                NaN
                     2022-08-01                ...                NaN
                     2022-09-01                ...                NaN
                     2022-10-01                ...                NaN
                     2022-11-01                ...                NaN
                     2022-12-01                ...                NaN
                     2023-01-01                ...                NaN
                     2023-02-01                ...                NaN
                     2023-03-01                ...                NaN
                     2023-04-01                ...                NaN
                     2023-05-01                ...                NaN
                     2023-06-01                ...                NaN
                     2023-07-01                ...                NaN
                     2023-08-01                ...                NaN
                     2023-09-01                ...                NaN

                                               Step Modification Flag  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                                   NaN
                     2022-03-01                                   NaN
                     2022-04-01                                   NaN
                     2022-05-01                                   NaN
                     2022-06-01                                   NaN
                     2022-07-01                                   NaN
                     2022-08-01                                   NaN
                     2022-09-01                                   NaN
                     2022-10-01                                   NaN
                     2022-11-01                                   NaN
                     2022-12-01                                   NaN
                     2023-01-01                                   NaN
                     2023-02-01                                   NaN
                     2023-03-01                                   NaN
                     2023-04-01                                   NaN
                     2023-05-01                                   NaN
                     2023-06-01                                   NaN
                     2023-07-01                                   NaN
                     2023-08-01                                   NaN
                     2023-09-01                                   NaN

                                               Deferred Payment Plan  \
Loan Sequence Number Monthly Reporting Period
F22Q10000004         2022-02-01                                  NaN
                     2022-03-01                                  NaN
                     2022-04-01                                  NaN
                     2022-05-01                                  NaN
                     2022-06-01                                  NaN
                     2022-07-01                                  NaN
                     2022-08-01                                  NaN
                     2022-09-01                                  NaN
                     2022-10-01                                  NaN
                     2022-11-01                                  NaN
                     2022-12-01                                  NaN
                     2023-01-01                                  NaN

In [12]:
# count the number of missing values in each column
missing_values = data_merged.isnull().sum()
missing_values_ratio = missing_values / len(data_merged)
missing_values_ratio

Credit Score                                                    0.000000
First Payment Date                                              0.000000
First Time Homebuyer Flag                                       0.000000
Maturity Date                                                   0.000000
Metropolitan Statistical Area (MSA) Or Metropolitan Division    0.089977
                                                                  ...
Delinquent Accrued Interest                                     0.999999
Delinquency Due to Disaster                                     0.997544
Borrower Assistance Status Code                                 0.996953
Current Month Modification Cost                                 0.998943
Interest Bearing UPB                                            0.000000
Length: 63, dtype: float64

# Detecting Prepayment

Mortgages are exposed to two types of event risk: prepayment and default. Part of the challenge is to identify which of the two events has affected a particular loan. Here are some suggestions:


(i) Initially, focus on the prepayment risk only.

(ii) Do not treat curtailments as prepayments, only repayments of the total outstanding balance should be treated as prepayments.

In [13]:
# Detecting Prepayment

# if the zero balance code is 1 , then the loan is paid off or matured. 
# if REMAINING MONTHS TO LEGAL MATURITY is 0, then the loan is matured.
# prepayment is where ['Zero Balance Code'] == 1 & (data_merged['Remaining Months to Legal Maturity'] > 0)
data_merged['Prepayment'] = (data_merged['Zero Balance Code'] == 1) & (data_merged['Remaining Months to Legal Maturity'] > 0)

# count the number and ratio of prepayments
prepayment_count = data_merged['Prepayment'].sum()
prepayment_ratio = prepayment_count / len(data_merged)
prepayment_count, prepayment_ratio

(24660, 0.002946165456938793)

In [14]:
data_merged['Zero Balance Code'].value_counts()

Zero Balance Code
1.0     24660
96.0     1369
2.0         8
9.0         5
3.0         1
Name: count, dtype: int64

In [16]:
# export the data
data_merged.head()
data_merged.to_csv('data/data_merged_2022Q1.csv', index=False)

In [18]:
data_merged.to_pickle('data/data_merged_2022Q1.pkl')